@media (max-width:480px) {
	/* Ici on va definir les styles CSS pour les plus petits écrans*/

$primary: #9356dc;
$secondary: #ff79da;
$tertiary:  #99e2d0;

        
    * {
        box-sizing: border-box;
    }

    body {
        font-size: 16px;
        font-family: 'Roboto', cursive, sans-serif;
        color: #000;
        margin: 0;
    }

    h2, h3, h4 {
        font-weight: 700;
    }
    
    a {
        color: #000;
        text-decoration: none;
        
        &:visited {
            color: #000;
        }
    }

    .block-page {
        width: 100%;
        z-index: 11;
    }

    .loader-container {
        position: fixed;
        width: 100%;
        height: 100%;
        transform-origin: top;
        transform: scaleY(0);
        animation: loader-spinner 2s linear;
        z-index: 10;
        background: #fff;
    }

    .loader-container .loader1{
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100px;
        height: 100px;
        border: solid 4px transparent;
        border-top-color: $primary;
        border-left-color: $primary;
        border-radius: 50%;
        animation: loader 1.6s linear infinite;
    }

    .loader-container .loader2{
        position: absolute;
        top: 50%;
        left: 50%;
        width: 75px;
        height: 75px;
        border: solid 4px transparent;
        border-top-color: $tertiary;
        border-left-color: $tertiary;
        border-radius: 50%;
        animation: loader2 1.4s linear infinite;
    }

    .loader-container .loader3{
        position: absolute;
        top: 50%;
        left: 50%;
        width: 50px;
        height: 50px;
        border: solid 4px transparent;
        border-top-color: $secondary;
        border-left-color: $secondary;
        border-radius: 50%;
        animation: loader 1.2s linear infinite;
    }

    @keyframes loader-spinner{
        0% {
            transform: scale(1);
        }
        
        100% {
            transform: scale(1);
        }
    }

    @keyframes loader{
        from {
            transform: translate(-50%, -50%) rotate(0deg);
        }
        to {
            transform: translate(-50%, -50%) rotate(360deg);
        }
    }

    @keyframes loader2{
        from {
            transform: translate(-50%, -50%) rotate(0deg);
        }
        to {
            transform: translate(-50%, -50%) rotate(-360deg);
        }
    }
   

    .entete {
        width: 100%;
        height: 4rem;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        &__logo {
            font-family: 'Shrikhand', sans-serif;
            font-size: 1.8rem;
            padding-top: 10px;
            margin: 0;
        }
    }

    .explorer {
        width: 100%;
        height: 340px;
        background-color: rgba($primary, 0.15);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        margin: 0;
        &__geo {
            height: 3.5rem;
            background-color: rgba($primary, 0.2);
            display: block;
            border: 0;
        }
        &__titre {
            margin-top: 2rem;
            margin-bottom: 0.5rem;
        }
        &__text {
            font-size: 1.1rem;
            font-weight: 300;
            margin: 0;
        }
    }

    .explorer__icon {
        font-size: 1rem;
        font-weight: 500;
        margin: 1.15rem 0;
    }

    .bouton {
        border-radius: 3.15rem;
        background-image: linear-gradient($secondary, $primary);
        opacity: 1;
        font-size: 1rem;
        font-weight: 300;
        color: white;
        text-align: center;
        padding: 0;
        margin: 1.8rem 0;
        box-shadow: 0 6px 10px rgba($primary, 0.4);
        min-width: 220px;
        transition: all 600ms linear;

        &:hover {
            opacity: 0.8;
            box-shadow: 0 6px 10px rgba($primary, 0.6);
        }

        &:visited {
            color: white;
        }
    }

    .carte {
        width: 100%;
        height: 340px;
        margin-bottom: 2.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;

        &__heading {
            margin: 1.5rem 0 0.3rem 1rem;
        }
    }

    .carte__bouton {
        width: 90%;
        height: 75px;
        background-color: rgba($primary, 0.3);
        border-radius: 15px;
        display: flex;
        align-items: center;
        box-shadow: 0 6px 10px rgba($primary, 0.4);
        margin: 0 0 10px 20px;
        transition: all 400ms linear;

        &:hover {
            background-color: rgba($primary, 0.2);
            box-shadow: 0 6px 5px rgba($primary, 0.5);
        }

        .carte__text {
            color: white;
            border-radius: 100%;
            background: $primary;
            padding: 4px 8px 4px 8px;
            display: inline-block;
            margin-right: 0.5rem;
            position: relative;
            top: 0;
            left: -0.75rem;
        }

        .carte__icon {
            margin-right: 10px;
            font-size: 1.2rem;
            color: $primary;
        }
    }


    /*Styles pour carte des restaurants*/
    .card { 
        width: 100%;
        height: 1230px;
        background-color: rgba($primary, 0.2);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding-bottom: 2rem;

        .card__heading {
            width: 97%;
            margin: 1.9rem 0 0 1.5rem;
        }

        .card__link {
        background-color: #fff;
        width: 90%;
        height: 260px;
        border-radius: 15px;
        margin: 0;
        box-shadow: 0 3px 3px rgba($primary, 0.2);
        position: relative;
        top: 0;
        right: 0;

            .card__box img {
                width: 100%;
                height: 175px;
                border-radius: 15px 15px 0 0;
            }

            @supports(object-fit: cover) 
            {.card__box img {
            object-fit: cover;
            object-position: bottom center; }
            }

            .card__caption {
                width: 100%;
                height: 70px;
                margin: 0;
                padding: 0;
                display: flex;
                justify-content:  space-between;
                align-items: center;
            
                .card__text > * {
                    margin: 0.25rem 0 0 1rem;
                }
            }
        }
    }

    .heart {
        position: absolute;
        top: 195px;
        right: 25px;
        font-size: 1.8rem;
        border: 0;
        margin-right: 10px;

        &:hover {
            cursor: pointer;
        }

        .vide {
            color: rgba(#000, 1);
            &:active {
                color: rgba(#000, 0);
                z-index: 1;
            }
        }
    
        & .plain {
            color: rgba($primary, 0);
            transition: color 1s;
            &:active {
                color: rgba($primary, 1);
                z-index: 2;
            }
        }    
    }

    /*Pour le bouton Nouveau */
    .card__new { 
        font-size: 1rem;
        font-weight: bold;
        color: darken($tertiary, 40);
        margin: auto;
        padding: 2% 4%;
        border-radius: 3px;
        position: absolute;
        top: 1.2rem;
        right: 1.2rem;
        background-color: $tertiary;
    }    

    /*Pour le pied de page*/
    .pied {
        width: 100%;
        height: 200px;
        background-color: black;
        padding: 1rem;
        &__logo {
            font-family: 'Shrikhand', sans-serif;
            font-size: 1.2rem;
            color:white;
            padding: 0;
            margin: 0 0 0 10px;
        }

        .pied-nav {
            list-style: none;
            padding-left: 8px;
            li > a {
                display: inline-block;
                color: white;
                font-weight: 500;
                margin-top: 5px;
                
                &:visited {
                color: white;
                }
            }
        }
    }

    .fa-utensils {
        height: 1rem;
        margin-right: 5px;
    }

    .fa-hands-helping {
        font-size: 0.9rem;
        margin-right: 5px;
    }

    /*Pour les sites des restaurants*/
    .entete__fleche {
        font-size: 1.4em;
        margin: auto;
        position: absolute;
        top: 25px;
        left: 20px;
    }

    .card__box--modif img {
        width: 100%;
        height: 240px;
        border-radius: 0;
    }

    @supports(object-fit: cover) 
    {.card__box--modif img {
    object-fit: cover;
    object-position: center center; }
    }
    
    .corps-page {
        width: 100%;
        border-radius: 2rem 2rem 0 0;
        background-color: #ece3f5;
        display: flex;
        flex-direction: column;
        justify-content: flex-start ;
        align-items: center;
        position: absolute;
        top: 280px;
        right: 0;
        margin: 0;

        .corps-page__heading {
            width: 95%;
            margin: 1.5rem 0 0 1rem;
            align-items: center;

            .corps-page__titre {
                font-family: 'Shrikhand', sans-serif;
                font-size: 1.8rem;
                margin: 0;
                padding: 0;
                letter-spacing: 1px;
            }
            .heart--modif{
                position: absolute;
                top: 30px;
                right: 20px;
                transition: 1s;
            }
    
            &:hover {
                cursor: pointer;
            }
    
            & .vide {
                color: rgba(#000, 1);
                &:active {
                    color: rgba(#000, 0);
                    z-index: 1;
                }
            }
        
            & .plain {
                color: rgba($primary, 0);
                transition: color 1s;
                &:active {
                    color: rgba($primary, 1);
                    z-index: 2;
                }
            }
        }
    }

    .carte hr {
        width: 40px;
        border: 2px solid $tertiary;
        margin: 0 0 1rem 1rem;
    }


$num-carte: 4;
$anim-dur: 3000ms;
$anim-delay: $anim-dur/$num-carte;

    .carte--modif {
        margin: 0;
        padding: 0;
        position: relative;
        height: auto;
        .carte__bouton--modif {
            opacity: 1;
            animation: carte $anim-dur both;
            @for $i from 1 through $num-carte {
                &--#{$i} {
                    animation-delay: $anim-delay*$i;
                }
            }
        }
    }

    @keyframes carte {
        0% {
            opacity: 0;
        }
        100% {
            transform: scaleY(1);
            opacity: 1;
        }

    }

    .carte__bouton--modif {
        width: 93%;
        background-color:white;
        box-shadow: none;
        justify-content: space-between;
        align-items: flex-start;
        margin-left: 0.75rem;
        padding: 0;

        h4 {
            height: 96%;
            padding: 2.8rem 0.4rem 0 0.4rem;
            margin: 0 0.1rem;
            transition: transform 500ms ease-out;
        }

        &:active > h4 {
            transform: translateX(-20%);
        }

        &:hover {
            cursor: pointer;
        }
            
        .card__text {
            margin-top: 0.8rem;
            width: 100%;
            min-width: 67%;
            & > * {
                margin: 0.3rem 0 0 0.7rem;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }
        

        .check {
            width: 0;
            height: 0;
            margin: 0;
            padding: 0;
            visibility: hidden;
            opacity: 0;

            & >.fa-check-circle {
                display: inline-block;
                transform: rotate(-90deg);
                transition: transform 500ms ease-in-out;
            }
        }

        &:active > .check {
            width: 25%;
            height: 100%;
            font-size: 1.5rem;
            color: #fff;
            background-color: $tertiary;
            border-radius: 0 15px 15px 0;
            border: none;
            visibility: visible;
            opacity: 1;
            transition: opacity 500ms ease-in-out;
        }

        &:active  .fa-check-circle {
            transform: rotate(0deg);
        }
    
        .carte__bouton--modif h4 {
            margin: 5px 10px 5px 0;
        }
    
        .carte__bouton--modif p {
            font-size: 0.95rem;
        }
    
        &:hover {
            background-color: #fff;
            box-shadow: none;
        }
    }
    
    .carte__bouton--special {
        height: 100px;
        h4 {
            padding-top: 3.9rem;
        }
    }

    
}